.Home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .Home {
    grid-template-columns: 1fr; /* Stacks columns on smaller screens */
  }
}
